<div class="container-fluid">
    <div class="row row-stat">

        <div class="col-sm-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading panel-heading-no-divider">
                            <p>Contacto</p>

                            <span class="panel-subtitle">
                                Email académico: <a href="mailto:arincon@cs.cinvestav.mx">arincon@cs.cinvestav.mx</a>
                            </span>
                            <span class="panel-subtitle">
                                Email personal: <a href="mailto:alan.vieyra376@gmailcom">alan.vieyra376@gmailcom</a>
                            </span>
                            <span class="panel-subtitle">
                                Email profesional: <a href="mailto:alan.fernando.rincon.vieyra.sa@everis.com">alan.fernando.rincon.vieyra.sa@everis.com</a>
                            </span>
                            <p></p>
                            <span class="panel-subtitle">
                                Teléfono personal: <a href="tel:5591250145">5591250145</a>
                            </span>
                            <p></p>

                            <span class="panel-subtitle">
                                GitHub: <a href="https://github.com/AlanVieyra333">https://github.com/AlanVieyra333</a>
                            </span>
                            <p></p>

                            <span class="panel-subtitle">
                                Facebook: <a href="https://www.facebook.com/Alan.Vieyra.333">https://www.facebook.com/Alan.Vieyra.333</a>
                            </span>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>