<div class="container-fluid">
    <div class="row row-stat">

        <div class="col-sm-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading panel-heading-no-divider">
                            <p>Mundo Virtual - Bosquejo</p>
                            <p></p>
                            <span class="panel-subtitle">
                                Se desea realizar un mundo virtual básico, utilizando prismas rectangulares como se muestra en la siguiente figura.
                            </span>
                            <p></p>
                            
                            <img src="assets/images/02_bosquejo_general.jpg" class="img-center" />
                            
                            <br>

                            <p></p>
                            <span class="panel-subtitle">
                                El cual está conformado por 7 prismas, para los cuales se propusiron las siguientes medidas.
                            </span>
                            <p></p>

                            <span class="panel-subtitle">
                                Vista frontal
                            </span>
                            <img src="assets/images/02_bosquejo_frontal.jpg" class="img-center" />

                            <br>
                            <span class="panel-subtitle">
                                Vista lateral derecha
                            </span>
                            <img src="assets/images/02_bosquejo_lateral_der.jpg" class="img-center" />

                            <br>
                            <span class="panel-subtitle">
                                Vista lateral izquierda
                            </span>
                            <img src="assets/images/02_bosquejo_lateral_izq.jpg" class="img-center" />
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>