<div class="container-fluid">
  <div class="row row-stat">

    <div class="col-sm-12">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading panel-heading-no-divider">
              <p>Fuerza MRA - Simulación de tocar la malla</p>
              <p></p>
              <span class="panel-subtitle">
                Para lograr crear la simulación de tocar la malla, se puede utilizar un control PD que suaviza el
                movimiento
                del objeto del sistema MRA, o bien, se puede usar un sistema MRA críticamente amortiguado, ambos
                aplicados
                unicamente durante el periodo de tiempo que se está tocando.
              </span>
              <span class="panel-subtitle">
                Para ésta simulaciòn se utilizó la segunda opción (sistema MRA críticamente amortiguado).
              </span>
              <p></p>

              <img src="assets/images/06_mra-criticamente-amortiguada.png" class="img-center" />

              <br>

              <span class="panel-subtitle">
                Donde cada gráfica representa:
              </span>
              <span class="panel-subtitle">
                <b>Línea morada:</b> Sistema MRA subamortiguado, con un T = 3.0s.
                <ul>
                  <li>Se le aplica una fuerza en el tiempo 0.0, y se estabiliza en el tiempo 3.0</li>
                </ul>
              </span>
              <span class="panel-subtitle">
                <b>Línea verde:</b> Sistema MRA subamortiguado, con un T = 3.0s.
                <ul>
                  <li>Se le aplica una fuerza en el tiempo 0.0, y se estabiliza en el tiempo 3.0</li>
                  <li>Se le quita la fuerza en el tiempo 5.0, y se estabiliza en el tiempo 8.0</li>
                </ul>
              </span>
              <span class="panel-subtitle">
                <b>Línea azul:</b> Sistema MRA críticamente amortiguado, con un T = 1.0s.
                <ul>
                  <li>Se le aplica una fuerza en el tiempo 0.0, y se estabiliza en el tiempo 1.0</li>
                  <li>Se le quita la fuerza en el tiempo 5.0 (ahora con un T = 3.0s para volver a un sistema MRA
                    subamortiguado), y se estabiliza en el tiempo 8.0. (Logrando un comportamiento igual al de la línea
                    verde)</li>
                </ul>
              </span>
              <span class="panel-subtitle">
                <b>Línea amarilla:</b> Sistema MRA críticamente amortiguado, con un T = 1.0s.
                <ul>
                  <li>Se le aplica una fuerza en el tiempo 0.0, y se estabiliza en el tiempo 1.0</li>
                  <li>Se modifica la fuerza (reduciéndola a la mitad) en el tiempo 2.0, y se estabiliza en el tiempo 3.0
                  </li>
                  <li>Se le quita la fuerza en el tiempo 5.0 (ahora con un T = 3.0s para volver a un sistema MRA
                    subamortiguado), y se estabiliza en el tiempo 8.0.</li>
                </ul>
              </span>

              <p></p>

              <span class="panel-subtitle">
                Para esta simulaciòn se establecieron los siguientes valores constantes:
              </span>
              <span class="panel-subtitle">
                <b>k:</b> 0.2 (Kg/s^2)
              </span>
              <span class="panel-subtitle">
                <b>m:</b> 0.01 (Kg)
              </span>
              <span class="panel-subtitle">
                <b>b:</b> 0.02667 (Kg/s)
              </span>
              <span class="panel-subtitle">
                <b>d_t:</b> 1.0/30.0 (s)
              </span>

              <p></p>

              <span class="panel-subtitle">
                La especificaciòn de la fuerza aplicada se hace a travès de un mouse 3D:
                <ul>
                  <li><b>Traslaciòn Z:</b> Aplica una fuerza proporcional al movimiento del mouse 3D: TZ*0.2, TZ &isin;
                    [-1.0, 1.0]</li>
                </ul>
              </span>

              <p></p>

              <!--
              <span class="panel-subtitle">
                El resultado de la simulaciòn de tocar la malla 3D, se muestra a continuaciòn:
              </span>
              <p></p>

              <p align="center">
                <iframe src="https://drive.google.com/file/d/112PmLywYAz8t0nDw41IMZc5IDdH8E75J/preview" width="640"
                  height="480"></iframe>
              </p>
              -->

              <span class="panel-subtitle">
                Código fuente: <a
                  href="https://github.com/AlanVieyra333/realidad-virtual.cinvestav/tree/master/Malla_MRA"
                  target="_blank">https://github.com/AlanVieyra333/realidad-virtual.cinvestav/tree/master/Malla_MRA</a>
              </span>

              <span class="panel-subtitle">
                Descargar <a href="assets/downloads/Fuerza_MRA_Tocar_Malla_3D.zip">Fuerza_MRA_Tocar_Malla_3D.zip</a>
              </span>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>