<div class="container-fluid">
    <div class="row row-stat">

        <div class="col-sm-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading panel-heading-no-divider">
                            <p>Mundo Virtual - Navegación</p>
                            <p></p>
                            <span class="panel-subtitle">
                                El mundo virtual realizado con OpenGL se basó del siguiente bosquejo realizado
                                anteriormente.
                            </span>
                            <p></p>

                            <img src="assets/images/02_bosquejo_general.jpg" class="img-center" />

                            <br>
                            <span class="panel-subtitle">
                                El plano 3D utilizado, tiene como referencia el eje 'y' como vector arriba.
                            </span>
                            <p></p>

                            <span class="panel-subtitle">
                                La matriz de transformación utilizada para representar los objetos que se estan
                                observando es el <b>modelo de la cámara obsura</b>:
                            </span>
                            <p></p>

                            <span class="panel-subtitle" style="text-align: center; font-weight: bolder;">
                                &lambda;P = KR[I|-c]P
                            </span>
                            <p></p>

                            <span class="panel-subtitle">
                                Donde:
                            </span>
                            <span class="panel-subtitle">
                                P: Modelo 3D
                            </span>
                            <span class="panel-subtitle">
                                C: Posición de la cámara
                            </span>
                            <span class="panel-subtitle">
                                R: Rotación
                            </span>
                            <span class="panel-subtitle">
                                K: Matriz de calibración
                            </span>
                            <p></p>

                            <span class="panel-subtitle">
                                Para este modelo 3D se estableció la posición de la cámara en la esquina superior derecha de la figura de arriba.
                            </span>
                            <span class="panel-subtitle">
                                En el plano 3D es la posición: x = 20.0, y = 2.0, z = -5.0
                            </span>
                            <span class="panel-subtitle">
                                La cámara mira inicialmente hacia 135° del eje x hacia el eje z.
                            </span>
                            <p></p>
                            <span class="panel-subtitle">
                                Las teclas para navegar son:
                                <ul>
                                    <li><b>Flecha Izquierda:</b> Mover el ojo de la cámara hacia la izquierda.</li>
                                    <li><b>Flecha Derecha:</b> Mover el ojo de la cámara hacia la derecha.</li>
                                    <li><b>Flecha Arriba:</b> Mover centro de la cámara hacia arriba.</li>
                                    <li><b>Flecha Abajo:</b> Mover centro de la cámara hacia abajo.</li>
                                    <li><b>Enter:</b> Mover centro de la cámara hacia enfrente.</li>
                                    <li><b>Delete:</b> Mover centro de la cámara hacia atrás.</li>
                                </ul>
                            </span>
                            <p></p>

                            <br>

                            <span class="panel-subtitle">
                                Como resultado la navegación sobre el mundo virtual se muestra en el siguiente video.
                            </span>

                            <p align="center">
                                <iframe src="https://drive.google.com/file/d/1PT3ALqQYkhAv57qtTAHex6v3lvp9Ni9r/preview"
                                width="640" height="480"></iframe></p>

                            <br>

                            <span class="panel-subtitle">
                                Código fuente: <a
                                    href="https://github.com/AlanVieyra333/realidad-virtual.cinvestav/tree/master/Mundo%20Virtual"
                                    target="_blank">https://github.com/AlanVieyra333/realidad-virtual.cinvestav/tree/master/Mundo%20Virtual</a>
                            </span>

                            <span class="panel-subtitle">
                                Descargar <a href="assets/downloads/Mundo Virtual.zip">MundoVirtual.zip</a>
                            </span>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>