<div class="container-fluid">
    <div class="row row-stat">

        <div class="col-sm-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading panel-heading-no-divider">
                            <p>Rehilete en 3D</p>
                            <img src="assets/images/rehilete.jpg" />
                            <p></p>
                            <span class="panel-subtitle">
                                Se desea dibujar un rehilete en la diagonal principal de un cubo unitario sobre un plado
                                de 3 dimensiones.
                            </span>
                            <span class="panel-subtitle">
                                Para la realización de esta práctica, se hizo uso de OpenGL.
                            </span>
                            <p></p>
                            <span class="panel-subtitle">
                                La matriz de transformación en 3D utilizada es lasiguiente.
                            </span>
                            <p style="text-align: center">Ry(-a) Rz(b) T(sqrt(3), 0, 0) Ry(90°) Rz(theta)</p>
                            <span class="panel-subtitle">
                                Donde:
                            </span>
                            <span class="panel-subtitle">
                                a = 45°
                            </span>
                            <span class="panel-subtitle">
                                tan b = 1 / sqrt(2)
                            </span>

                            <br>

                            <span class="panel-subtitle">
                                Como resultado la animación en 3D se muestra en el siguiente video
                            </span>

                            <iframe src="https://drive.google.com/file/d/1PQOAoMezLpXxHlP15_rhUx2Nn3R5s9UM/preview"
                                width="640" height="480"></iframe>

                            <br>

                            <span class="panel-subtitle">
                                Código fuente: <a
                                    href="https://github.com/AlanVieyra333/realidad-virtual.cinvestav/tree/master/Reguilete"
                                    target="_blank">https://github.com/AlanVieyra333/realidad-virtual.cinvestav/tree/master/Reguilete</a>
                            </span>

                            <span class="panel-subtitle">
                                    Descargar <a href="assets/downloads/Rehilete.zip">Rehilete.zip</a>
                                </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>