<div class="sidebar hidden-sm-down">
    <ul class="nav in" id="side-menu">
        <li class="user-pro">
            <a href="#" class="text-center">
                <div class="profile-img">
                    <img src="assets/images/profile.jpg"/>
                </div>
                <span>Alan Fernando Rincón Vieyra</span>
                <small class="text-center">Ing. en Sistemas Computacionales - IPN</small>
                <!--<small class="text-center">Ing. en Sistemas ComputacionalesSenior Developer</small>-->
            </a>
        </li>
        <li><a [routerLink]="['/home']" [routerLinkActive]="['active']" class="waves-effect"><i class="fa fa-home"></i> <span
                class="hide-menu">Inicio</span></a></li>
        <!-- <li class=""><a href="javascript:void(0);" class="waves-effect"><i class="fa fa-envelope-o"></i> <span
                class="hide-menu"> Mailbox <span class="fa arrow"></span><span
                class="label label-rouded label-danger pull-right">6</span></span></a>
        </li> -->
        <li>
            <a [routerLink]="['/cursos']" [routerLinkActive]="['active']">
                <i class="fa fa-edit"></i>
                <span class="hide-menu">Cursos Realizados</span>
            </a>
        </li>
        <li>
            <a  [routerLink]="['/curriculum-vitae']" [routerLinkActive]="['active']">
                <i class="fa fa-edit"></i>
                <span class="hide-menu">Currículo</span>
            </a>
        </li>
        <li>
            <a  [routerLink]="['/contact']" [routerLinkActive]="['active']">
                <i class="fa fa-bars"></i>
                <span class="hide-menu">Contacto</span>
            </a>
        </li>
    </ul>
</div>