<div class="container-fluid">
  <div class="row row-stat">

    <div class="col-sm-12">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading panel-heading-no-divider">
              <p>Fuerza MRA - Malla 3D</p>
              <p></p>
              <span class="panel-subtitle">
                La malla 3D consiste en una matriz de nodos conectados visualmente con lineas, sobre el plano "xz",
                teniendo como vector arriba el eje "Y".
              </span>
              <p></p>

              <img src="assets/images/05_malla_7x7.jpg" class="img-center" />

              <br>
              <span class="panel-subtitle">
                La resolución de la malla 3D soporta 3 diferentes dimenciones de la matriz: 7x7, 13x13 y 25x25 nodos.
              </span>
              <p></p>

              <span class="panel-subtitle">
                Cada nodo tiene el comportamiento de un sistema masa-resorte-amortiguador.
              </span>
              <p></p>

              <span class="panel-subtitle" style="text-align: center; font-weight: bolder;">
                X_t+1 = K_1(X_t) + K_2(X_t-1) + K_3
              </span>
              <span class="panel-subtitle" style="font-weight: bolder;">
                K_1 = 2 - (b/m)d_t - (k/m)d_t^2
              </span>
              <span class="panel-subtitle" style="font-weight: bolder;">
                K_2 = (b/m)d_t - 1
              </span>
              <span class="panel-subtitle" style="font-weight: bolder;">
                K_3 = (F/m)d_t^2
              </span>
              <p></p>

              <span class="panel-subtitle">
                Donde:
              </span>
              <span class="panel-subtitle">
                <b>X_t+1:</b> Siguiente Valor de 'x'. (m)
              </span>
              <span class="panel-subtitle">
                <b>X_t:</b> Valor actural de 'x'. (m)
              </span>
              <span class="panel-subtitle">
                <b>X_t-1:</b> Valor anterior de 'x'. (m)
              </span>
              <span class="panel-subtitle">
                <b>k:</b> Constante del resorte. (Kg/s^2)
              </span>
              <span class="panel-subtitle">
                <b>m:</b> Masa del objeto. (Kg)
              </span>
              <span class="panel-subtitle">
                <b>b:</b> Constante del amortiguador. (Kg/s)
              </span>
              <span class="panel-subtitle">
                <b>F:</b> Fuerza aplicada al objeto. (N)
              </span>
              <span class="panel-subtitle">
                <b>d_t:</b> Diferencial de tiempo. (s)
              </span>

              <p></p>

              <span class="panel-subtitle">
                Para esta simulaciòn se establecieron los siguientes valores constantes:
              </span>
              <span class="panel-subtitle">
                <b>k:</b> 0.2 (Kg/s^2)
              </span>
              <span class="panel-subtitle">
                <b>m:</b> 0.01 (Kg)
              </span>
              <span class="panel-subtitle">
                <b>b:</b> 0.02667 (Kg/s)
              </span>
              <span class="panel-subtitle">
                <b>d_t:</b> 1.0/30.0 (s)
              </span>

              <p></p>

              <span class="panel-subtitle">
                Los ángulos que especifican la direcciòn de la fuerza son los siguente:
              </span>

              <img src="assets/images/05_vector_angulos.jpg" class="img-center" />

              <span class="panel-subtitle">
                <b>alpha:</b> Àngulo sobre el plano "xz". (grados)
              </span>
              <span class="panel-subtitle">
                <b>beta:</b> Àngulo sobre el plano "xy". (grados)
              </span>

              <br>

              <span class="panel-subtitle">
                La especificaciòn del punto donde se aplica la fuerza se hace a travès de un mouse 3D:
                <ul>
                  <li><b>Traslaciòn X:</b> Mover el nodo principal hacia la izquierda y derecha.</li>
                  <li><b>Traslaciòn Y:</b> Mover el nodo principal hacia arriba y abajo.</li>
                </ul>
              </span>
              
              <p></p>

              <span class="panel-subtitle">
                El resultado de la simulaciòn de una fuerza aplicada a un sistema mra sobre una malla 3D, se muestra a continuaciòn:
              </span>
              <p></p>

              <p align="center">
                <iframe src="https://drive.google.com/file/d/112PmLywYAz8t0nDw41IMZc5IDdH8E75J/preview" width="640"
                  height="480"></iframe>
              </p>

              <span class="panel-subtitle">
                Código fuente: <a
                  href="https://github.com/AlanVieyra333/realidad-virtual.cinvestav/tree/master/Malla_MRA"
                  target="_blank">https://github.com/AlanVieyra333/realidad-virtual.cinvestav/tree/master/Malla_MRA</a>
              </span>

              <span class="panel-subtitle">
                Descargar <a href="assets/downloads/Fuerza_MRA_Malla_3D.zip">Fuerza_MRA_Malla_3D.zip</a>
              </span>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>